html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
section {
  padding-top: 120px;
}

p {
  line-height: 1.19em;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.39em;
  margin: 0;
}

header {
  padding-top: 60px;
}

.logo {
  margin: 0 auto;
  display: block;
  max-width: 145px;
}

.hero-image {
  width: 465px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 70px;
}

.intro {
  font-size: 18px;
  margin: 30px 0;
}

.button {
  background: #000000;
  border-radius: 100px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 22px 0px;
  font-weight: 700;
  line-height: 1.19em;
  display: block;
  width: 216px;
  text-align: center;
  transition: all 0.5s ease;
}

.button:hover {
  background: rgb(41, 41, 41);
}

.hero-text {
  width: 465px;
}

.hero-text h2 {
  text-align: left;
  margin-bottom: 0;
}

.action-wrap .hero-text {
  width: 432px;
}

.action-wrap .intro {
  margin: 24px 0;
  width: 371px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 79px;
}

.feature {
  display: flex;
  gap: 34px;
  align-items: center;
}

.features-container {
  display: flex;
  flex-direction: column;
  gap: 41px;
  width: 720px;
  margin: 0 auto;
}
.feature-digit {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.37em;
  border: 1px solid #000000;
  border-radius: 20px;
  width: 77px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.feature:hover .feature-digit {
  background: #000000;
  color: #fff;
}

.feature-title {
  font-size: 30px;
  margin-bottom: 11px;
}

.action-wrap {
  background: linear-gradient(102deg, #e8ffe8 17.38%, #d1f0ff 81.25%);
  border-radius: 60px;
  display: flex;
  align-items: center;
  padding: 93px 168px 89px 122px;
  gap: 101px;
  justify-content: center;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.action-wrap img {
  animation: 5s linear 0s normal none infinite running rot;
}

.credits {
  font-size: 15px;
  text-align: center;
}

.footer {
  padding: 120px 0;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .wrapper {
    flex-direction: column;
    text-align: center;
    gap: 51px;
  }
  .button {
    margin: 0 auto;
  }
  .action-wrap {
    flex-direction: column;
    text-align: center;
    padding: 101px 144px;
  }
  .hero-text h2 {
    text-align: center;
  }
  .action-wrap .intro {
    margin: 24px auto;
    width: 371px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .feature {
    flex-direction: column;
    text-align: center;
  }
  .features-container {
    width: auto;
  }
  .action-wrap {
    gap: 50px;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0 15px;
  }
  .hero-image {
    width: 100%;
    display: block;
  }
  .hero-text {
    width: auto;
  }
  h1 {
    font-size: 45px;
  }
  .action-wrap img {
    width: 201px;
  }
  .action-wrap {
    padding: 70px 20px;
  }
  .action-wrap .hero-text {
    width: 100%;
  }
  .action-wrap .intro {
    width: auto;
  }
  section {
    padding-top: 90px;
  }
  .footer {
    padding: 90px 0;
  }
  .wrapper {
    margin-top: 50px;
  }
}
